<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Dodaj pub</title>
</head>
<body>
  <h1>Dodaj nowy pub</h1>
  <form action="<%= baseUrl %>/pubs" method="POST" enctype="multipart/form-data">
    <label>Nazwa: <input type="text" name="name" required></label><br>
    <label>Lokalizacja: <input type="text" name="location" required></label><br>
    <label>Obrazek: <input type="file" name="image"></label><br>
    <button type="submit">Dodaj</button>
  </form>
  <a href="<%= baseUrl %>/">Powrót</a>
</body>
</html>
